SESSION_SECRET=
LDAP_URI=ldap://ldap.domain.com
LDAP_BASE_USER=
LDAP_BASE_GROUP=
LDAP_FILTER_USER=(uid={{username}})
LDAP_FILTER_GROUP=(&(objectClass=posixGroup)(cn={{groupname}})(memberUid={{username}}))
BACKEND=http://localhost:8080
PORT=3000

# LDAP_FILTER_USER and LDAP_FILTER_GROUP are using mustache format. Available variables are:
#   * username
#   * groupname
